
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Car Bank an Automobile Category Bootstrap responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta charset="utf-8"></meta>
<meta name="keywords" content="Car Bank Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" ></meta>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"/>
<link href="css/font-awesome.css" rel="stylesheet" > </link>
<!-- bootstrap css -->
<link href="css/bootstrap.css" rel="stylesheet" ></link>
<!-- //bootstrap css -->
<!-- style css -->
<link href="css/style.css" rel="stylesheet" ></link>
<!-- //style css -->
<!-- //lightbox files -->
<link rel="stylesheet" href="css/lightbox.css"></link>
<!-- //lightbox files -->
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<link href="css/mislider.css" rel="stylesheet" type="text/css" ></link>
<link href="css/mislider-custom.css" rel="stylesheet" type="text/css" ></link>
<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<!-- bootstrap js -->
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
</head>
<body >
	<!-- banner -->
	<div class="banner">
		<div class="banner-dott">
			<div class="container">
				<!-- navigation -->
				<nav class="navbar navbar-inverse">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					  </button>
					  <a class="navbar-brand" href="index.html"><h1>CAR BANK</h1></a>
					 
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav link-effect-14" id="link-effect-14">
							<li><a href="/Takearide"><span>Home</span></a></li>
							<li><a href="/ProviderList">ProvidersList</a></li>
    	 		 <li><a href="/Ridedetails">RideDetails</a></li>
    	 		 <li class="last">
          <div class="dropdown">
            <a class="dropbtn">SETTINGS</a>
        <div class="dropdown-content">
        <ul>
 <li><a  href="/change" >changepassword </a> </li>
    	   <li><a href="/edituserdetails">edituserdetails</a></li>
    	 	<li><a  href="/logout">logout</a></li> 
    	 	</ul>
    </div>
  </div>


    </li>
						</ul>
						<!-- <form class="navbar-form navbar-left w3_search" action="#" method="post">
							<div class="form-group">
								<input type="search" class="form-control" placeholder="Search" required=""/>
							</div>
							<button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
						</form> -->
					</div>
				</nav>
				</div>
			</div>
		</div>
    
    
     <div class="container"></div>
<div id="telk-registered-users"></div>
		<h4>Editdetails</h4>
       <table class="table table-striped" border="2">
        <thead style="background-color: #FFFF00">
           <tr>
               
                <th>Edit the details</th>
            </tr>
           </thead>  
          
      <tbody>
      
       <tr th:each="user : ${user}">
   	   
     	  <td><form action="#" th:action="@{/updatedetails}" method="get" th:object="${user}">  
          
          <input type="hidden" name="id" th:value="${user.id}"/>
          <div align="center">
                      <h4>  Firstname:  <input type="text" th:value="${user.firstname}" name="firstname" placeholder="firstname"   size="20"/>  </h4>             
         <h4>  Lastname: <input type="text" th:value="${user.lastname}" name="lastname" placeholder="lastname"  size="20"/></h4>                           	
         <h4>  Email: <input type="text" th:value="${user.email}" name="email" placeholder="email"  size="20" /></h4>  			          
         <h4>  Mobile no: <input type="text" th:value="${user.mobileno}" name="mobileno" placeholder="mobile"  size="20"/></h4> 
         <h4>  Aadhar no: <input type="text" th:value="${user.aadharno}" name="aadharno" placeholder="aadharno"  size="20"/></h4> 
         <h4>  Age: <input type="text" th:value="${user.age}" name="age" placeholder="age"  size="20"/></h4>  
   		 <h4>Usertype:<select required="true" id="Register" th:field="*{userType}" title="Choose a status">
  			<option th:each="userType : ${T(com.carPooling.model.Usertype).values()}" th:value="${user.userType}" th:text="${userType}"></option>
  		</select></h4>
        <h4>from:  <input type="text" th:value="${user.from}" name="from" placeholder=" from"  />               
    	to: <input type="text" th:value="${user.to}" name="to" placeholder="to"  /> </h4>	        
		<h4> Date: <input type="datetime-local" name="date" th:value="${user.date}"/> </h4>
 		<h4>   VehicleNo:  <input type="text" th:value="${user.vehicleno}" name="vehicleno" placeholder=" vehicleno"   />  </h4>  
 		<h4>DrivingLicense:                        
             <select required="true" id="Register" th:field="*{drivinglicense}" title="Choose a status">
  			<option th:each="drivinglicense : ${T(com.carPooling.model.Drivinglicense).values()}" th:value="${user.drivinglicense}" th:text="${drivinglicense}"></option>
  		</select></h4>          
       
        <h4>    Address: <input type="text" th:value="${user.address}" name="address" placeholder="address"  /></h4> 
		<button type="submit">Update</button> 
		</div>
		
		  </form>
		  </td>
           </tr>
     	 </tbody> 
     	 </table> 
		</body>
		</html>
			