
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Car Bank an Automobile Category Bootstrap responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta charset="utf-8"></meta>
<meta name="keywords" content="Car Bank Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" ></meta>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"/>
<link href="css/font-awesome.css" rel="stylesheet" > </link>
<!-- bootstrap css -->
<link href="css/bootstrap.css" rel="stylesheet" ></link>
<!-- //bootstrap css -->
<!-- style css -->
<link href="css/style.css" rel="stylesheet" ></link>
<!-- //style css -->
<!-- //lightbox files -->
<link rel="stylesheet" href="css/lightbox.css"></link>
<!-- //lightbox files -->
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<link href="css/mislider.css" rel="stylesheet" type="text/css" ></link>
<link href="css/mislider-custom.css" rel="stylesheet" type="text/css" ></link>
<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<!-- bootstrap js -->
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
</head>
<body >
	<!-- banner -->
	<div class="banner">
		<div class="banner-dott">
			<div class="container">
				<!-- navigation -->
				<nav class="navbar navbar-inverse">
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					  </button>
					  <a class="navbar-brand" href="index.html"><h1>CAR BANK</h1></a>
					 
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav link-effect-14" id="link-effect-14">
							<li><a href="/Takearide"><span>Home</span></a></li>
							<li><a href="/ProviderList">ProvidersList</a></li>
    	 		 <li><a href="/Ridedetails">RideDetails</a></li>
    	 		<li class="last">
          <div class="dropdown">
            <a class="dropbtn">SETTINGS</a>
        <div class="dropdown-content">
        <ul>
 <li><a  href="/change" >changepassword </a> </li>
    	   <li><a href="/edituserdetails">edituserdetails</a></li>
    	 	<li><a  href="/logout">logout</a></li> 
    	 	</ul>
    </div>
  </div>


    </li>
							
						</ul>
						<!-- <form class="navbar-form navbar-left w3_search" action="#" method="post">
							<div class="form-group">
								<input type="search" class="form-control" placeholder="Search" required=""/>
							</div>
							<button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
						</form> -->
					</div>
				</nav>
				</div>
			</div>
		</div>
    
     <div class="container"></div>
<div id="telk-registered-users"></div>
		<h4>Provider</h4>
       <table class="table table-striped" border="2">
        <thead style="background-color: pink">
            <tr>
               
                <th>firstname</th>
                <th>lastname</th>
                <th>email</th>
                <th>mobileno</th>
                
                <th>age</th>
                <th>from</th>
                <th>to</th>
                <th>date</th>
                <th>vehicleno</th>
                
                <th>address</th>
                <th>gender</th>
                <th>request</th>
            </tr>
           </thead>  
          
      <tbody>
       <tr th:each="provider : ${providerList}">
     	 <td th:text="${provider.firstname}" ></td>
      	  <td th:text="${provider.lastname}" ></td>
    	 <td th:text="${provider.email}" ></td> 
    	 <td th:text="${provider.mobileno}"></td>
    	 
    	 <td th:text="${provider.age}"></td>
         <td th:text="${provider.from}"></td>
         <td th:text="${provider.to}"></td>
         <td th:text="${provider.date}"></td>
          <td th:text="${provider.vehicleno}"></td>
        
         <td th:text="${provider.address}"></td>
         <td th:text="${provider.gender}"></td> 
     	   <td>
     	   <form action="#" th:action="@{/Ridereq}" method="post">  
          <button type="hidden" name="id" th:value="${session.usrid}">request</button>
          <input type="hidden" name="providerid" th:value="${provider.id}"></input>
          </form>
          </td>	 
           </tr>
     	 </tbody> 
     	 </table> 
     	 <div class="footer-final">
		<div class="copyw3-agile"> 
			<div class="container">
				<p>&copy; 2017 Car Bank. All rights reserved | Design by <a href="http://w3layouts.com/">Swathi</a></p>
			</div>
		</div>
	</div>
		</body>
		</html>
			